:root {
    --header-height: 19px;
    --footer-height: 17px;
    --bg-color: #E2DBC8;
    --highlight-color: #9B6039;
    --section-header-color: #5A3E2B;
    --text-color: #111111;
    --link-color: #9B6039;
    --card-bg: #D8CCB4;
    --border-color: #ccc;
    --border-color-darker: #8E8068;
    --header-footer-color: #B8A282;
}

html.dark {
    --bg-color: #172136;
    --highlight-color: #CBD9F4;
    --section-header-color: #CBD9F4;
    --text-color: #CBD9CE;
    --link-color: #8CABE6;
    --card-bg: #313E59;
    --border-color: #CBD9F4;
    --border-color-darker: #596E96;
    --header-footer-color: #0A1023;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}

html {
    transition: background-color 0.25s ease, color 0.25s ease;
}

* {
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

body {
    margin-top: 25px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Layout container */
.layout {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
}

/* Main page content expands */
.content {
    flex: 1;
}

/* For header.js */
.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header-footer-color);
    z-index: 1000;
}

.header a {
    color: var(--link-color)
}

.header strong {
    color: var(--highlight-color);
}

.playerName {
    float: right;
    margin-right: 20px;
}

/* End header.js */

/* For footer.js */
footer {
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    font-size: 0.8rem;
    color: white;
    background-color: var(--header-footer-color);
    border-top: 1px solid var(--border-color);
    text-align: center;

    z-index: 1000;
}

/* End footer.js */

/* For item.js */
.osrs-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
}

.osrs-table th,
.osrs-table td {
    border: 1px solid var(--border-color);
    padding: 6px 10px;
    text-align: left;
}

.osrs-table th {
    background: #ececec;
}

.osrs-table tr:nth-child(even) {
    background: #fafafa;
}

/* End item.js */

/* For items.js */
.item-filters {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 0.5rem 1rem;
}

.item-filters input[type="text"] {
    /* search bar full width */
    grid-column: 1 / -1;
}

.item-filters label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.marginOneRem {
    margin: 1rem 1rem 0rem 1rem;
}

.skill-filters {
    margin: 0rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 0.5rem 1rem;
}

.skill-filters label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

#itemSearch {
    padding: 6px;
    font-size: 14px;
    width: 200px;
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.item-card {
    width: 150px;
    padding: 35px 8px 8px 8px;
    background: var(--card-bg);
    border: 1px solid var(--border-color-darker);
    color: var(--highlight-color);
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.item-image {
    position: absolute;
    top: 4px;
    left: 4px;
}

.badge {
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 4px;
    color: black;
}

.badge.rolled {
    position: absolute;
    top: 4px;
    right: 62px;
    background: #c48aff;
}

.badge.unlocked {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #7bff7b;
}

.item-section-header {
    flex: 0 0 100%;
    /* take full row */
    width: 100%;
    margin: 1.5rem 0 0.5rem;
    padding-bottom: 4px;
    border-bottom: 2px solid var(--border-color-darker);
    color: car(--section-header-color);
}

/* End items.js */